.cards_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width: 14vw;
    color: $mwhite;
}

.member {
    background-color: $mblack;
    padding: 2vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    border-radius: 1vw;
}

.member .member_img img {
    max-width: 100%;
}

.member .information {
    margin: 10%;
}

.member .information h1 {
    margin: 0;
}

.member .information h2 {
    margin: 0;
}